<div class="quote">
  <%= link_to quote.name, quote_path(quote) %>
  <div class="quote__actions">
    <%= button_to "Borrar",
                  quote_path(quote),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Editar",
                edit_quote_path(quote),
                class: "btn btn--light" %>
  </div>
</div>